<?xml version="1.0" standalone="yes"?>
<NewDataSet>  
	<tblGeneral>			
	</tblGeneral>
	<tblDBSettings>
		<fldServer>127.0.0.1</fldServer>
		<fldDBName>dbproductionreport</fldDBName>
		<fldAccount>root</fldAccount>
		<fldPassword>toor</fldPassword>		
		<fldPort>3306</fldPort>		
	</tblDBSettings>	
</NewDataSet>